In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('so_data.csv')

In [3]:
df.head()

,Country,Employment,ConvertedSalary,LanguageWorkedWith,NumberMonitors,WakeTime,Gender,Age,_gender,_age
0,Kenya,Employed part-time,NaN,JavaScript;Python;HTML;CSS,1,Between 5:00 - 6:00 AM,Male,25 - 34 years old,Male,34.0
1,United Kingdom,Employed full-time,70841.0,JavaScript;Python;Bash/Shell,2,Between 6:01 - 7:00 AM,Male,35 - 44 years old,Male,44.0
2,United States,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,Employed full-time,NaN,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,2,Between 6:01 - 7:00 AM,Male,35 - 44 years old,Male,44.0
4,South Africa,Employed full-time,21426.0,C;C++;Java;Matlab;R;SQL;Bash/Shell,2,Before 5:00 AM,Male,18 - 24 years old,Male,24.0

### Q2. Tracer un pie chart avec la répartition des genres

### Q3. Trouver les pays où il y a plus de femmes qui ont répondu que d'hommes

### Q4. Afficher le genre par tranche d'age

### Q5. Dire combien de personnes travaillent avec plus de 3 écrans

### Q6. Trouver à quelle heure se lèvent les retraités le plus souvent

### Q7. Tracer la courbe du salaire moyen en fonction de l'âge

### Q8. Donner le pourcentage de personne qui font du Python